---
layout: default.ejs
title: Monumentos Rio
---
<%_ const monuments = collections.all.filter(file => file.filePathStem.startsWith("/id/"));
const monument_count = monuments.length;

const distinct_bairros = new Set();
monuments.forEach(m => { distinct_bairros.add(m.data.bairro); });
%>
<main>
<section class="maxwidth">
	<p>Bem-vindo ao <strong><%= website_domain %></strong>!</p>
	<p>
		Este website tem como objetivo formar um inventário de todos os monumentos
		da cidade do Rio de Janeiro. Selecione a aba "<strong>Inventário</strong>"
		acima para ver a lista completa de monumentos já catalogados.
	</p>
	<p>
		Essas são as estatísticas atuais:
	</p>
	<div class="statistics">
		<div>
			<div>
				<strong class="stats-value"><%= monument_count %></strong>
				<span>monumentos</span>
			</div>
			<span class="stats-total">
				de ~<strong>1400</strong> (<%= ((monument_count/1400)*100).toFixed(2) %>%)
			</span>
		</div>
		<div>
			<div>
				<strong class="stats-value"><%= distinct_bairros.size %></strong>
				<span>bairros</span>
			</div>
			<span class="stats-total">
				de <strong>164</strong> (<%= ((distinct_bairros.size/164)*100).toFixed(2) %>%)
			</span>
		</div>
	</div>
	<br><hr><br>
	<p>
		Alternativamente, escolha uma das categorias usadas para classificar cada
		monumento. Elas são as seguintes:
	</p>
	<section id="home-categories-list">
		<section class="home-category">
			<%- makeTag("obra") %> <%- makeTag("busto") %> <%- makeTag("chafariz") %>
			<%- makeTag("estátua") %> <%- makeTag("marco") %> <%- makeTag("escultura") %>
		</section>
	</section>
</section>
<%_
// [Ref] https://bost.ocks.org/mike/shuffle/
function shuffle(array) {
	let m = array.length, t, i;
	while(m) {
		i = Math.floor(Math.random() * m--);
		t = array[m];
		array[m] = array[i];
		array[i] = t;
	}
	return array;
}
%>
</main>