---
layout: default.ejs
title: Inventário — Monumentos Rio
---

<%_ const monuments = collections.all.filter(file => file.filePathStem.startsWith("/id/"));
monuments.sort((a, b) => {
	const aName = ("sortby" in a.data) ? a.data.sortby : a.data.name;
	const bName = ("sortby" in b.data) ? b.data.sortby : b.data.name;
	return aName.localeCompare(bName);
});
const monument_count = monuments.length;

const alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ".split("");

function normalize(str) {
	return str.normalize("NFD").replace(/\p{Diacritic}/gu, "").trim();
}

const letters = new Set();
monuments.forEach(mon => {
	const monName = ("sortby" in mon.data) ? mon.data.sortby : mon.data.name;
	const letter = normalize(monName)[0];
	if(alphabet.includes(letter))
		letters.add(letter);
	else
		letters.add("#");
});

const lists = [];
const letters_list = [...letters].sort();
letters_list.forEach(letter => {
	lists.push(monuments.reduce((acc, file) => {
		const name = ("sortby" in file.data) ? file.data.sortby : file.data.name;
		let current_first_letter = normalize(name)[0].toUpperCase();
		if(!alphabet.includes(current_first_letter))
			current_first_letter = '#';

		if(letter === current_first_letter)
			acc.push(file);
		return acc;
	}, []));
});
%>

<main>
<h1>Inventário</h1>
<section class="indent-children maxwidth">
	<p>
		Esta é uma lista de todos os monumentos catalogados, ordenados
		alfabeticamente. Até agora, os seguintes
		<strong><%= monument_count %></strong> monumentos já foram catalogados:
	</p>
</section>
<details id="list-toc">
	<summary>Pular para:</summary>
	<div>
	<%_ for(let i = 0; i < alphabet.length; i++) { %>
		<%_ if(letters.has(alphabet[i])) { %>
			<a href="#letra-<%= alphabet[i] %>"><%= alphabet[i] %></a>
		<%_ } else { %>
			<span><%= alphabet[i] %></span>
		<%_ } %>
	<%_ } %>
	</div>
</details>
<%_ for(let c = 0; c < lists.length; c++) {
	const current_letter = letters_list[c]; %>
	<section>
		<h2 id="letra-<%= current_letter.replace("#", "_") %>"><%= current_letter %></h2>
		<div class="card-list">
			<%_ for(let i = 0; i < lists[c].length; i++) { %>
				<%- makeCard(lists[c][i]) %>
			<%_ } %>
		</div>
	</section>
<%_ } %>
</main>