---
layout: default.ejs
title: Mapa — Monumentos Rio
---

<%_ const monuments = collections.all.filter(file => file.filePathStem.startsWith("/id/"));
monuments.sort((a, b) => a.filePathStem.slice(4).localeCompare(b.filePathStem.slice(4)));
const monument_count = monuments.length;

function countCategory(cat) {
	const count = monuments.reduce((acc, file) => acc + (file.data.categoria === cat), 0);
	return count + " ite" + (count < 2 ? "m" : "ns");
}
%>
<main>
	<h1 class="cutout-width-limit">Mapa dos monumentos</h1>
	<div id="monument-location-map" class="big"></div>
	<p>
		<strong>Filtros:</strong>
	</p>
	<section class="control-panel">
		<section class="inputs">
			<label>
				<input checked data-cat="obra" type="checkbox">
				<span>
					<strong>Obras públicas</strong><br>
					<%- makeTag("obra", false) %>
					<small>(<%= countCategory("obra") %>)</small>
				</span>
			</label>
			<label>
				<input checked data-cat="busto" type="checkbox">
				<span>
					<strong>Bustos e efígies</strong><br>
					<%- makeTag("busto", false) %>
					<small>(<%= countCategory("busto") %>)</small>
				</span>
			</label>
			<label>
				<input checked data-cat="chafariz" type="checkbox">
				<span>
					<strong>Chafarizes e fontes</strong><br>
					<%- makeTag("chafariz", false) %>
					<small>(<%= countCategory("chafariz") %>)</small>
				</span>
			</label>
			<label>
				<input checked data-cat="estatua" type="checkbox">
				<span>
					<strong>Estátuas</strong><br>
					<%- makeTag("estátua", false) %>
					<small>(<%= countCategory("estátua") %>)</small>
				</span>
			</label>
			<label>
				<input checked data-cat="marco" type="checkbox">
				<span>
					<strong>Marcos</strong><br>
					<%- makeTag("marco", false) %>
					<small>(<%= countCategory("marco") %>)</small>
				</span>
			</label>
			<label>
				<input checked data-cat="escultura" type="checkbox">
				<span>
					<strong>Esculturas</strong><br>
					<%- makeTag("escultura", false) %>
					<small>(<%= countCategory("escultura") %>)</small>
				</span>
			</label>
		</section>
		<section class="selections">
			<button id="select-all">Selecionar todos</button>
			<button id="deselect-all">Remover todos</button>
		</section>
	</section>
	<style>
.control-panel {
	margin-bottom: 1rem;
}
.control-panel > .inputs {
	display: flex;
	flex-wrap: wrap;
	gap: .5rem;
	margin-bottom: .5rem;
}
.control-panel > .inputs > label {
	padding: .5rem;
	border: 1px solid #dfdfdf;
	border: 1px solid var(--highlight, #dfdfdf);
	background-color: var(--bg-alt, #fff);
	border-radius: 4px;
}
.control-panel > .inputs > label:has(> input:checked) {
	background-color: rgba(141,183,255, .25);
	border-color: #93baff;
}
.control-panel > .selections {
	text-align: right;
}
.control-panel button {
	font: inherit;
	font-size: 75%;
	border: 2px solid #444;
	border: 2px solid var(--text-alt-color, #444);
	color: #444;
	color: var(--text-alt-color, #444);
	font-weight: 500;
	border-radius: 50px;
	padding: .5rem 1rem;
	background-color: #fff;
	background-color: var(--bg-alt, #fff);
	cursor: pointer;
}
.control-panel button:is(:hover, :focus) {
	background-color: #efefef;
	background-color: var(--soft-highlight, #efefef);
	color: #000;
	color: var(--text-color, #000);
}
.control-panel button:active {
	background-color: #444;
	background-color: var(--text-alt-color, #444);
	color: #fff;
	color: var(--bg-alt, #fff);
}

#monument-location-map {
	margin: 1rem 0;
}
#monument-location-map .hidden-markers {
	display: none;
}

.leaflet-zoom-anim .leaflet-zoom-animated {
	transition: .15s;
}
	</style>
	<!-- [Ref] https://leafletjs.com/ -->
	<link href="/assets/leaflet/leaflet.1.9.3.css" rel="stylesheet" type="text/css">
	<script src="/assets/leaflet/leaflet.1.9.3.min.js"></script>
	<!-- [Ref] https://github.com/Leaflet/Leaflet.fullscreen -->
	<link href="/assets/leaflet/leaflet.fullscreen.1.0.1.css" rel="stylesheet" type="text/css">
	<script src="/assets/leaflet/leaflet.fullscreen.1.0.1.js"></script>
	<!-- [Ref] https://github.com/mourner/rbush -->
	<script src="/assets/leaflet/rbush.2.0.1.min.js"></script>
	<script>window.RBush = rbush;</script>
	<!-- [Ref] https://github.com/francoisromain/leaflet-markers-canvas -->
	<script src="/assets/leaflet/leaflet-markers-canvas.2023-05-29.min.js"></script>
	<script>
const map = L.map("monument-location-map", {
	center: [-22.9, -43.4],
	zoom: 10,
	maxBounds: new L.LatLngBounds(
		new L.LatLng(-22.9 - 0.5, -43.4 - 0.8),
		new L.LatLng(-22.9 + 0.5, -43.4 + 0.8)
	),
	maxBoundsViscosity: .75,
	fullscreenControl: true
});

L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
	minZoom: 9,
	maxZoom: 19,
	preferCanvas: true,
	attribution: "&copy; <a href='http://www.openstreetmap.org/copyright'>OSMF</a>"
}).addTo(map);

const fronteira = [
	[ -22.803320232, -43.272597838 ], [ -22.803564153, -43.274148601 ], [ -22.803800461, -43.276833969 ],
	[ -22.805465435, -43.277591227 ], [ -22.806965211, -43.278948186 ], [ -22.807667643, -43.279041642 ],
	[ -22.807746015, -43.280445995 ], [ -22.807929588, -43.284382487 ], [ -22.808197325, -43.286755861 ],
	[ -22.808591413, -43.287451904 ], [ -22.809138434, -43.287882538 ], [ -22.809772855, -43.288210877 ],
	[ -22.810340586, -43.288308305 ], [ -22.810737421, -43.289874909 ], [ -22.810449539, -43.290221881 ],
	[ -22.810335024, -43.290752065 ], [ -22.809771251, -43.291646916 ], [ -22.808600192, -43.293262572 ],
	[ -22.807584379, -43.294272812 ], [ -22.806438237, -43.295628805 ], [ -22.806389513, -43.296257901 ],
	[ -22.806491944, -43.296733059 ], [ -22.806745516, -43.297720666 ], [ -22.806863777, -43.298384704 ],
	[ -22.806708192, -43.298987170 ], [ -22.806240829, -43.299544315 ], [ -22.805683653, -43.299826412 ],
	[ -22.805248130, -43.299939941 ], [ -22.804794212, -43.299979763 ], [ -22.804064859, -43.300333640 ],
	[ -22.803655193, -43.300932812 ], [ -22.803502150, -43.301689817 ], [ -22.803698595, -43.302277189 ],
	[ -22.803785592, -43.302754776 ], [ -22.803443320, -43.303110952 ], [ -22.802240040, -43.303365183 ],
	[ -22.801195970, -43.304051965 ], [ -22.800784969, -43.304900493 ], [ -22.800718935, -43.305399932 ],
	[ -22.800170104, -43.306579195 ], [ -22.799861218, -43.307843830 ], [ -22.799887219, -43.310295309 ],
	[ -22.800190776, -43.312915882 ], [ -22.800429908, -43.313954469 ], [ -22.801409009, -43.318896582 ],
	[ -22.801604329, -43.320394065 ], [ -22.801195558, -43.324949061 ], [ -22.801405684, -43.326166253 ],
	[ -22.802612165, -43.328563810 ], [ -22.802845644, -43.333673357 ], [ -22.803235460, -43.340724739 ],
	[ -22.803533795, -43.346987387 ], [ -22.803696991, -43.347449576 ], [ -22.803753582, -43.348378768 ],
	[ -22.803335959, -43.349047161 ], [ -22.802410154, -43.354074882 ], [ -22.802724842, -43.356503998 ],
	[ -22.802617719, -43.357501588 ], [ -22.803032815, -43.359591700 ], [ -22.804447139, -43.361537985 ],
	[ -22.804086980, -43.365452744 ], [ -22.804937059, -43.367425217 ], [ -22.805309133, -43.370116165 ],
	[ -22.807172974, -43.372281500 ], [ -22.807476140, -43.373775823 ], [ -22.807738818, -43.374622153 ],
	[ -22.808608033, -43.375841890 ], [ -22.809239709, -43.376306569 ], [ -22.810529943, -43.376559654 ],
	[ -22.810869326, -43.376984556 ], [ -22.810628795, -43.379688454 ], [ -22.811033345, -43.380146103 ],
	[ -22.811217339, -43.381099970 ], [ -22.811592758, -43.381801998 ], [ -22.811832842, -43.382357164 ],
	[ -22.811912318, -43.382811164 ], [ -22.812638107, -43.383892987 ], [ -22.813410758, -43.384333063 ],
	[ -22.813926742, -43.384683819 ], [ -22.814333273, -43.386515270 ], [ -22.814816374, -43.387677634 ],
	[ -22.813928062, -43.389212885 ], [ -22.813659071, -43.389968216 ], [ -22.813678907, -43.390251080 ],
	[ -22.814207827, -43.391294063 ], [ -22.814525426, -43.392298914 ], [ -22.814825424, -43.393285755 ],
	[ -22.815240254, -43.394874576 ], [ -22.816234172, -43.397534486 ], [ -22.816675061, -43.398701104 ],
	[ -22.817402623, -43.400671417 ], [ -22.818981390, -43.403708733 ], [ -22.820588199, -43.406580803 ],
	[ -22.821170160, -43.407884440 ], [ -22.820403118, -43.409537092 ], [ -22.820198780, -43.410862385 ],
	[ -22.820614664, -43.411921719 ], [ -22.820709894, -43.412505744 ], [ -22.820973664, -43.413254996 ],
	[ -22.820981730, -43.414065081 ], [ -22.821524414, -43.415290149 ], [ -22.822725772, -43.415919252 ],
	[ -22.823922600, -43.416992099 ], [ -22.824737536, -43.417124138 ], [ -22.825691530, -43.417453909 ],
	[ -22.829378696, -43.420527493 ], [ -22.831978787, -43.421584244 ], [ -22.832501402, -43.421891753 ],
	[ -22.832578741, -43.422095373 ], [ -22.832305195, -43.423838580 ], [ -22.832632103, -43.424219284 ],
	[ -22.832629978, -43.424488516 ], [ -22.833108687, -43.424603432 ], [ -22.833995088, -43.425158733 ],
	[ -22.835476609, -43.425755910 ], [ -22.835661395, -43.425537574 ], [ -22.835870338, -43.425880578 ],
	[ -22.836331051, -43.427089912 ], [ -22.837069152, -43.428514518 ], [ -22.837321595, -43.428360982 ],
	[ -22.837278112, -43.428859965 ], [ -22.837511542, -43.429259893 ], [ -22.837450157, -43.429857885 ],
	[ -22.837750469, -43.430364030 ], [ -22.837980946, -43.430263172 ], [ -22.838971447, -43.431807300 ],
	[ -22.839583721, -43.431775144 ], [ -22.840107722, -43.433528292 ], [ -22.842018667, -43.435322689 ],
	[ -22.842030687, -43.437917091 ], [ -22.842257117, -43.439677590 ], [ -22.848496424, -43.458675528 ],
	[ -22.848496424, -43.458675528 ], [ -22.830427571, -43.482589818 ], [ -22.815546544, -43.490107742 ],
	[ -22.815549936, -43.490121315 ], [ -22.823880675, -43.523475341 ], [ -22.829040862, -43.559977175 ],
	[ -22.838671048, -43.588138194 ], [ -22.860571993, -43.592843041 ], [ -22.858296498, -43.595231908 ],
	[ -22.857804489, -43.596464525 ], [ -22.858715882, -43.600720860 ], [ -22.858938201, -43.602093023 ],
	[ -22.861525227, -43.615571014 ], [ -22.862671938, -43.622307265 ], [ -22.862774773, -43.623711902 ],
	[ -22.860724198, -43.629666461 ], [ -22.856004778, -43.642911398 ], [ -22.855782091, -43.644282965 ],
	[ -22.856259505, -43.646085466 ], [ -22.856525300, -43.646593604 ], [ -22.856625219, -43.647212833 ],
	[ -22.857228242, -43.649729158 ], [ -22.857658666, -43.650513047 ], [ -22.859018544, -43.652457567 ],
	[ -22.861095242, -43.655458163 ], [ -22.863258923, -43.658358197 ], [ -22.863587486, -43.659899552 ],
	[ -22.864547317, -43.662799409 ], [ -22.865154691, -43.665335410 ], [ -22.865049975, -43.668435382 ],
	[ -22.865227240, -43.669143970 ], [ -22.865251638, -43.669912330 ], [ -22.864969303, -43.670647225 ],
	[ -22.863881138, -43.672615939 ], [ -22.863882231, -43.673277602 ], [ -22.864355933, -43.673665001 ],
	[ -22.865004396, -43.673563971 ], [ -22.865022143, -43.675694355 ], [ -22.864924932, -43.676244505 ],
	[ -22.865446240, -43.676883301 ], [ -22.865438065, -43.677171191 ], [ -22.865144941, -43.677372954 ],
	[ -22.864291752, -43.677553528 ], [ -22.863972474, -43.677988379 ], [ -22.863977257, -43.678564049 ],
	[ -22.863636491, -43.679794498 ], [ -22.862515422, -43.680858603 ], [ -22.863094299, -43.681558350 ],
	[ -22.863908900, -43.683152004 ], [ -22.864747939, -43.685267262 ], [ -22.866732000, -43.690415584 ],
	[ -22.864717575, -43.691630679 ], [ -22.864272289, -43.692497398 ], [ -22.864703530, -43.695981607 ],
	[ -22.864726656, -43.697382433 ], [ -22.865789618, -43.700716806 ], [ -22.865995180, -43.701136291 ],
	[ -22.867071619, -43.701978299 ], [ -22.867642225, -43.702893057 ], [ -22.868028756, -43.703763854 ],
	[ -22.868160413, -43.704536494 ], [ -22.868224267, -43.705501395 ], [ -22.868550042, -43.706366348 ],
	[ -22.868603626, -43.707024816 ], [ -22.868112545, -43.707790388 ], [ -22.867642988, -43.708971641 ],
	[ -22.866885430, -43.710458236 ], [ -22.866746466, -43.711376993 ], [ -22.867041533, -43.712245949 ],
	[ -22.868823015, -43.714178798 ], [ -22.870689082, -43.715582814 ], [ -22.871197404, -43.715728430 ],
	[ -22.872281985, -43.717275120 ], [ -22.872628578, -43.718018778 ], [ -22.872265734, -43.720819869 ],
	[ -22.872313766, -43.722165970 ], [ -22.872569434, -43.722893438 ], [ -22.872544668, -43.725097766 ],
	[ -22.873095348, -43.727070992 ], [ -22.878339134, -43.734411084 ], [ -22.877186782, -43.740959840 ],
	[ -22.877549965, -43.746448596 ], [ -22.878194382, -43.747764051 ], [ -22.877887971, -43.748033943 ],
	[ -22.878313484, -43.748953714 ], [ -22.879842655, -43.751716903 ], [ -22.880901065, -43.752273078 ],
	[ -22.887736830, -43.750664138 ], [ -22.888637948, -43.751467626 ], [ -22.889250726, -43.753648371 ],
	[ -22.889910399, -43.755523586 ], [ -22.890685865, -43.757101413 ], [ -22.890199393, -43.758776717 ],
	[ -22.890647806, -43.760671633 ], [ -22.890619260, -43.762642052 ], [ -22.890935706, -43.763101256 ],
	[ -22.891638757, -43.763494865 ], [ -22.892091208, -43.764498083 ], [ -22.892536564, -43.764588806 ],
	[ -22.893965472, -43.765138756 ], [ -22.894678629, -43.766136714 ], [ -22.895007237, -43.767093605 ],
	[ -22.894920101, -43.768599405 ], [ -22.894569853, -43.769103261 ], [ -22.893327220, -43.769197433 ],
	[ -22.893226939, -43.769520724 ], [ -22.893438212, -43.770245679 ], [ -22.892936494, -43.772245841 ],
	[ -22.892497005, -43.773195215 ], [ -22.892682620, -43.774589255 ], [ -22.895653897, -43.775113669 ],
	[ -22.895804127, -43.775620916 ], [ -22.896177663, -43.778104695 ], [ -22.896047580, -43.778560450 ],
	[ -22.895478767, -43.778705439 ], [ -22.894731770, -43.779229392 ], [ -22.894671800, -43.779723902 ],
	[ -22.894898471, -43.780460637 ], [ -22.896318627, -43.781218396 ], [ -22.897616409, -43.781707021 ],
	[ -22.898742852, -43.781394742 ], [ -22.899349673, -43.780988142 ], [ -22.903646396, -43.783622249 ],
	[ -22.903903520, -43.784221399 ], [ -22.903980944, -43.785014802 ], [ -22.903332313, -43.785624945 ],
	[ -22.902377591, -43.785680925 ], [ -22.901445501, -43.786192871 ], [ -22.900694976, -43.787476504 ],
	[ -22.900623992, -43.788247518 ], [ -22.901107768, -43.789054941 ], [ -22.902245087, -43.789539720 ],
	[ -22.902844194, -43.789635113 ], [ -22.903253592, -43.790058114 ], [ -22.903362329, -43.790637824 ],
	[ -22.903120409, -43.791309656 ], [ -22.902886120, -43.792985702 ], [ -22.903320020, -43.794460362 ],
	[ -22.904861356, -43.795377036 ], [ -22.905869457, -43.795474790 ], [ -22.907023070, -43.795215688 ],
	[ -22.907940425, -43.794555814 ], [ -22.908030718, -43.793802334 ], [ -22.907954238, -43.793127548 ],
	[ -22.908359413, -43.792258765 ], [ -22.908928359, -43.791998866 ], [ -22.909992409, -43.792232404 ],
	[ -22.910656091, -43.792161394 ], [ -22.911449906, -43.791505402 ], [ -22.912379798, -43.791070496 ],
	[ -22.914353643, -43.790744785 ], [ -22.916022030, -43.793924288 ], [ -22.916153832, -43.794117640 ]
];
const polyline_fronteira = L.polyline(fronteira, { weight: 2, color: "#000", interactive: false }).addTo(map);

function makeMarker(cat) {
	return {
		iconUrl: `<%= MARKER_PATH %>/phosphor-marker--${cat}.svg`,
		iconSize: [32, 32],
		iconAnchor: [16, 32]
	};
}

const tempMarker = L.icon(makeMarker("temp"));

const markersMap = new Map();
markersMap.set("busto",     { lock: !1, list: [], canvas: new L.MarkersCanvas(), icon: L.icon(makeMarker("<%= catCleanup("busto")     %>")) } );
markersMap.set("chafariz",  { lock: !1, list: [], canvas: new L.MarkersCanvas(), icon: L.icon(makeMarker("<%= catCleanup("chafariz")  %>")) } );
markersMap.set("estátua",   { lock: !1, list: [], canvas: new L.MarkersCanvas(), icon: L.icon(makeMarker("<%= catCleanup("estátua")   %>")) } );
markersMap.set("marco",     { lock: !1, list: [], canvas: new L.MarkersCanvas(), icon: L.icon(makeMarker("<%= catCleanup("marco")     %>")) } );
markersMap.set("escultura", { lock: !1, list: [], canvas: new L.MarkersCanvas(), icon: L.icon(makeMarker("<%= catCleanup("escultura") %>")) } );
markersMap.set("obra",      { lock: !1, list: [], canvas: new L.MarkersCanvas(), icon: L.icon(makeMarker("<%= catCleanup("obra")      %>")) } );

for(const [key, obj] of [...markersMap]) {
	obj.canvas.addTo(map);
	// Seems to need a call to clear() before everything, otherwise it somehow
	// makes every MarkersCanvas() instance reference the same RBush() tree
	obj.canvas.clear();
	obj.canvas._canvas.classList.add(`leaflet-canvas-${removeDiacritics(key)}`);
	// Add a 100ms rate-limited event listener for `move` event
	// so markers don't have to wait for `moveend` to update
	map.on("move", function(evt) {
		if(obj.lock) return;
		obj.lock = true;
		obj.canvas._reset();
		setTimeout(function() { obj.lock = false; }, 16);
	}, obj.canvas);
}

function removeDiacritics(c) { return (c == "estátua") ? "estatua" : c; }
function readdDiacritics(c) { return (c == "estatua") ? "estátua" : c; }

function toggleMarkers(cat, state) {
	const markers = [...document.querySelectorAll(`.leaflet-container .leaflet-markers-canvas-layer.leaflet-canvas-${cat}`)];
	markers.forEach(m => {
		const canvas = markersMap.get(readdDiacritics(cat)).canvas;
		if(!state) {
			m.classList.add("hidden-markers");
			map.off("click", canvas._fire, canvas);
			map.off("mousemove", canvas._fire, canvas);
		} else {
			m.classList.remove("hidden-markers");
			map.on("click", canvas._fire, canvas);
			map.on("mousemove", canvas._fire, canvas);
		}
	});
}
[...document.querySelectorAll(".control-panel input[type='checkbox']")].forEach(input => {
	input.addEventListener("click", evt => {
		toggleMarkers(input.dataset.cat, input.checked);
	});
});
document.getElementById("select-all").addEventListener("click", function() {
	[...document.querySelectorAll(".control-panel input[type='checkbox']")].forEach(input => {
		if(!input.checked) input.click();
	});
});
document.getElementById("deselect-all").addEventListener("click", function() {
	[...document.querySelectorAll(".control-panel input[type='checkbox']")].forEach(input => {
		if(input.checked) input.click();
	});
});

function generatePopup(id, name, data, bairro, extra) {
	return `<img src="/id/${id}/thumb.jpg">
<div><a href="/id/${id}"><strong>${name}</strong></a><br>
<span class="identifier">${id}</span> &middot; <span>${data}</span><br>
<span class="neighborhood">${bairro}</span><br>${extra}</div>`;
}
const allMarkers = [];
const F = [0, -24];
function markerOnClick(e) { this.openPopup(); }
<%_ for(let i = 0; i < monument_count; i++) {
	const lat = monuments[i].data.lat;
	const lon = monuments[i].data.lon;
	const ID = getIDFromPath(monuments[i].filePathStem);
	const isEarly = [monuments[i].data.tags].flat().includes("preliminar");
	const hasMissing = [monuments[i].data.tags].flat().includes("removido"); %>
const m<%=i%> = L.marker([<%= lat %>,<%= lon %>],{icon:<%-
	isEarly ? "tempMarker" : `markersMap.get("${monuments[i].data.categoria}").icon`
%>});
m<%=i%>.bindPopup(generatePopup("<%=
	ID %>", "<%= isEarly ? "(" : "" %><%= monuments[i].data.name %><%= isEarly ? ")" : "" %>", "<%=
	getYearFromDate(monuments[i].data.data_inaug, monuments[i].data.data_circa) %>", "<%=
(monuments[i].data.bairro instanceof Array)
	? monuments[i].data.bairro.join(" / ")
	: monuments[i].data.bairro
%>", '<%-
makeTag(monuments[i].data.categoria)
+ (isEarly ? " "+makeInfoTag("preliminar") : "")
+ (hasMissing ? " "+makeInfoTag("removido") : "")
%>'),{offset:F}).openPopup().on({click:markerOnClick});
markersMap.get("<%= monuments[i].data.categoria %>").list.push(m<%=i%>); <%_ } %>

for(const [key, obj] of [...markersMap]) {
	obj.canvas.addMarkers(obj.list);
}
	</script>
</main>
