---
layout: default.ejs
heading: Monumentos por tags
title: Tags — Monumentos Rio
---
<%_ const monuments = collections.all.filter(file => file.filePathStem.startsWith("/id/"));
monuments.sort((a, b) => a.data.name.localeCompare(b.data.name));
const monument_count = monuments.length;

const distinct_categories = new Set();
monuments.forEach(mon => {
	// If property is an array
	if(mon.data.tags instanceof Array) {
		mon.data.tags.forEach(val => {
			distinct_categories.add(val);
		});
	} else {
		// Otherwise, if it's a simple value, add it
		distinct_categories.add(mon.data.tags);
	}
});
// Make sure there's no undefined
distinct_categories.delete(undefined);

const lists = [];
const categories_list = [...distinct_categories];
categories_list.sort((a, b) => a.localeCompare(b));

categories_list.forEach(cat => {
	lists.push(monuments.reduce((acc, file) => {
		// If property is an array
		if(file.data.tags instanceof Array) {
			// Check if array includes this category
			if(file.data.tags.includes(cat)) {
				// Add it to the list
				acc.push(file);
			}
		} else {
			// Otherwise, if it's a simple value
			// Check if it matches
			if(cat === file.data.tags)
				acc.push(file);
		}
		return acc;
	}, []));
});
%>

<main>
<h1 class="cutout-width-limit"><%= heading %></h1>
<section class="indent-children maxwidth">
	<p>
		Esta é uma lista de todos os monumentos catalogados, organizados por tags.
		Estas são majoritariamente para manutenção – por exemplo,
		<%- makeInfoTag("sem descrição") %> indica um monumento catalogado que
		ainda não possui um texto descritivo.
	</p>
</section>
<details id="list-toc">
	<summary>Pular para:</summary>
	<div>
	<%_ for(let i = 0; i < categories_list.length; i++) { %>
		<a href="#<%= normalize(categories_list[i]) %>"><%= categories_list[i] %></a>
	<%_ } %>
		<br>
		<a href="#<%= normalize("sem autoria") %>">sem autoria</a>
		<a href="#<%= normalize("data imprecisa") %>">data imprecisa</a>
		<a href="#<%= normalize("sem imrj") %>">sem imrj</a>
	</div>
</details>
<section>
	<hr>
	<p class="section-heading">Categorias manuais</p>
<%_ for(let c = 0; c < lists.length; c++) {
	const current_cat = categories_list[c];
	const cat_count = lists[c].length; %>
	<h2 id="<%= normalize(current_cat) %>"><%- makeInfoTag(current_cat) %></h2>
	<p><%-
		`<strong>${cat_count}</strong> monumento`
		+ (cat_count < 2 ? "" : "s")
	%></p>
	<div class="card-list">
		<%_ for(let i = 0; i < cat_count; i++) { %>
			<%- makeCard(lists[c][i]) %>
		<%_ } %>
	</div>
<%_ } %>
</section>
<section>
	<%_
const no_authorship = [];
const imprecise_dating = [];
const no_imrj = [];
monuments.forEach(mon => {
	if(!mon.data.autores || mon.data.autores.length <= 0) {
		no_authorship.push(mon);
	}
	if(mon.data.data_circa || getDatePrecision(mon.data.data_inaug) < 2) {
		imprecise_dating.push(mon);
	}
	if(!mon.data.imrj) {
		no_imrj.push(mon);
	}
}); %>
<%_ if(no_authorship.length > 0 || imprecise_dating.length > 0) { %>
		<hr>
		<p class="section-heading">Categorias automáticas</p>
	<%_ if(no_authorship.length > 0) { %>
		<h2 id="<%= normalize("sem autoria") %>"><%- makeInfoTag("sem autoria") %></h2>
		<p><%-
			`<strong>${no_authorship.length}</strong> monumento`
			+ (no_authorship.length < 2 ? "" : "s")
		%></p>
		<div class="card-list">
		<%_ for(let i = 0; i < no_authorship.length; i++) { %>
			<%- makeCard(no_authorship[i]) %>
		<%_ } %>
		</div>
	<%_ } %>
	<%_ if(imprecise_dating.length > 0) { %>
		<h2 id="<%= normalize("data imprecisa") %>"><%- makeInfoTag("data imprecisa") %></h2>
		<p><%-
			`<strong>${imprecise_dating.length}</strong> monumento`
			+ (imprecise_dating.length < 2 ? "" : "s")
		%></p>
		<div class="card-list">
		<%_ for(let i = 0; i < imprecise_dating.length; i++) { %>
			<%- makeCard(imprecise_dating[i]) %>
		<%_ } %>
		</div>
	<%_ } %>
	<%_ if(no_imrj.length > 0) { %>
		<h2 id="<%= normalize("sem imrj") %>"><%- makeInfoTag("sem imrj") %></h2>
		<p><%-
			`<strong>${no_imrj.length}</strong> monumento`
			+ (no_imrj.length < 2 ? "" : "s")
		%></p>
		<div class="card-list">
		<%_ for(let i = 0; i < no_imrj.length; i++) { %>
			<%- makeCard(no_imrj[i]) %>
		<%_ } %>
		</div>
	<%_ } %>
<%_ } %>
</section>
</main>