---
layout: monument.ejs
name: Conjunto de Arte Näif da Praça dos Bichinhos
alt_names: [
]

categoria: escultura
tags: [
]

data_inaug: 1970
data_circa: true
altura: 
largura: 
peso: 
material: Argamassa e ferro

autores: [
	Paulo de Tarso
]

local: Praça Hans Klussmann
bairro: Tijuca
lat: -22.9358
lon: -43.2349

imrj: 
wikidata: 
structurae: 
cona: 
hpip:
---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Estela Neto,
			<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC-BY-SA-4.0</a>,
			via <a href="https://commons.wikimedia.org/wiki/File:Escultura_Naif_-_O_Hipop%C3%B3tamo_-_Rio_de_Janeiro_-_20220909103839.jpg">Wikimedia
			Commons</a> (9 de setembro de 2022).
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Conjunto de 58 esculturas localizadas na Praça Hans Klussmann,
		popularmente conhecida como Praça dos Bichinhos.<sup>1</sup>
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			Jacqueline Costa (9 de outubro de 2020).
			<a href="https://oglobo.globo.com/rio/bairros/praca-na-tijuca-que-estava-abandonada-adotada-por-professora-de-ingles-24671952">Praça
			na Tijuca que estava abandonada é adotada por professora de inglês</a>.
			<i>O Globo</i>.
		</li>
	</ol>
</section>
<section>
	<p>
		O IMRJ cataloga 52 esculturas; o Wikimedia Commons possui categorias para
		49 esculturas:
	</p>
	<ul class="tight-list">
		<li><p>ID <a href="<%= IMRJ_URL %>723">723</a>; <a href="https://commons.wikimedia.org/wiki/Category:Escultura_Naif_-_O_Barco_(sculpture)">Commons</a>: O Barco</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>724">724</a>; <a href="https://commons.wikimedia.org/wiki/Category:Escultura_Naif_-_A_Baleia_e_Filhote_(sculpture)">Commons</a>: A Baleia e Filhote</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>725">725</a>; <a href="https://commons.wikimedia.org/wiki/Category:Escultura_Naif_-_O_Beija_Flor_(sculpture)">Commons</a>: O Beija Flor</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>726">726</a>; <a href="https://commons.wikimedia.org/wiki/Category:Escultura_Naif_-_O_Bumba_Meu_Boi_(sculpture)">Commons</a>: O Bumba Meu Boi</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>727">727</a>; <a href="https://commons.wikimedia.org/wiki/Category:Escultura_Naif_-_O_Burrinho_(sculpture)">Commons</a>: O Burrinho</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>728">728</a>; <a href="https://commons.wikimedia.org/wiki/Category:Escultura_Naif_-_O_Caju_(sculpture)">Commons</a>: O Caju</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>729">729</a>; <a href="https://commons.wikimedia.org/wiki/Category:Escultura_Naif_-_O_Canguru_(sculpture)">Commons</a>: O Canguru</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>730">730</a>; <a href="https://commons.wikimedia.org/wiki/Category:Escultura_Naif_-_O_Camelo_(sculpture)">Commons</a>: O Camelo</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>731">731</a>; <a href="https://commons.wikimedia.org/wiki/Category:Escultura_Naif_-_O_C%C3%A3o_com_Bola_(sculpture)">Commons</a>: O Cão com Bola</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>732">732</a>; <a href="https://commons.wikimedia.org/wiki/Category:Escultura_Naif_-_O_C%C3%A3o_Chin%C3%AAs_(sculpture)">Commons</a>: O Cão Chinês</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>733">733</a>; <a href="https://commons.wikimedia.org/wiki/Category:Escultura_Naif_-_O_C%C3%A3o_Manto_Negro_(sculpture)">Commons</a>: O Cão Manto Negro</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>734">734</a>; <a href="https://commons.wikimedia.org/wiki/Category:Escultura_Naif_-_O_C%C3%A3o_Pintado_(sculpture)">Commons</a>: O Cão Pintado</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>735">735</a>; <a href="https://commons.wikimedia.org/wiki/Category:Escultura_Naif_-_O_Cavalo_Branco_(sculpture)">Commons</a>: O Cavalo Branco</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>736">736</a>; <a href="https://commons.wikimedia.org/wiki/Category:Escultura_Naif_-_A_Cobra_e_o_Porco_(sculpture)">Commons</a>: A Cobra e o Porco</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>737">737</a>; <a href="https://commons.wikimedia.org/wiki/Category:Escultura_Naif_-_A_Cobra_e_o_Sapo_(sculpture)">Commons</a>: A Cobra e o Sapo</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>738">738</a>; <a href="https://commons.wikimedia.org/wiki/Category:Escultura_Naif_-_O_Macaco_(sculpture)">Commons</a>: O Macaco</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>740">740</a>; <a href="https://commons.wikimedia.org/wiki/Category:Escultura_Naif_-_O_Duende_(sculpture)">Commons</a>: O Duende</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>741">741</a>; <a href="https://commons.wikimedia.org/wiki/Category:Escultura_Naif_-_O_Duende_com_Acordeon_(sculpture)">Commons</a>: O Duende com Acordeon</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>742">742</a>; <a href="https://commons.wikimedia.org/wiki/Category:Escultura_Naif_-_O_Elefante_(sculpture)">Commons</a>: O Elefante</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>743">743</a>; <a href="https://commons.wikimedia.org/wiki/Category:Escultura_Naif_-_O_Elefante_Filhote_(sculpture)">Commons</a>: O Elefante Filhote</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>744">744</a>; <a href="https://commons.wikimedia.org/wiki/Category:Escultura_Naif_-_A_Emilia_(sculpture)">Commons</a>: A Emília</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>745">745</a>; <a href="https://commons.wikimedia.org/wiki/Category:Escultura_Naif_-_O_Esquilo_(sculpture)">Commons</a>: O Esquilo</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>746">746</a>; <a href="https://commons.wikimedia.org/wiki/Category:Escultura_Naif_-_A_Foca_(sculpture)">Commons</a>: A Foca</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>747">747</a>; <a href="https://commons.wikimedia.org/wiki/Category:Escultura_Naif_-_A_Galinha_(sculpture)">Commons</a>: A Galinha</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>748">748</a>; <a href="https://commons.wikimedia.org/wiki/Category:Escultura_Naif_-_O_Galo_(sculpture)">Commons</a>: O Galo</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>749">749</a>; <a href="https://commons.wikimedia.org/wiki/Category:Escultura_Naif_-_O_Ganso_(sculpture)">Commons</a>: O Ganso</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>750">750</a>; <a href="https://commons.wikimedia.org/wiki/Category:Escultura_Naif_-_O_Gato_(sculpture)">Commons</a>: O Gato</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>751">751</a>; <a href="https://commons.wikimedia.org/wiki/Category:Escultura_Naif_-_A_Girafa_(sculpture)">Commons</a>: A Girafa</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>752">752</a>; <a href="https://commons.wikimedia.org/wiki/Category:Escultura_Naif_-_O_Hipop%C3%B3tamo_(sculpture)">Commons</a>: O Hipopótamo</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>753">753</a>: O Índio</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>754">754</a>; <a href="https://commons.wikimedia.org/wiki/Category:Escultura_Naif_-_O_Jacar%C3%A9_I_(sculpture)">Commons</a>: O Jacaré I</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>755">755</a>; <a href="https://commons.wikimedia.org/wiki/Category:Escultura_Naif_-_Jacar%C3%A9_II_(sculpture)">Commons</a>: O Jacaré II</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>756">756</a>; <a href="https://commons.wikimedia.org/wiki/Category:Escultura_Naif_-_O_Jogador_Brasileiro_(sculpture)">Commons</a>: O Jogador Brasileiro</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>757">757</a>; <a href="https://commons.wikimedia.org/wiki/Category:Escultura_Naif_-_O_Le%C3%A3o_(sculpture)">Commons</a>: O Leão</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>758">758</a>; <a href="https://commons.wikimedia.org/wiki/Category:Escultura_Naif_-_A_Lontra_(sculpture)">Commons</a>: A Lontra</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>759">759</a>; <a href="https://commons.wikimedia.org/wiki/Category:Escultura_Naif_-_M%C3%A3e_e_Filhote_Dinossauro_(sculpture)">Commons</a>: Mãe e Filhote Dinossauro</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>760">760</a>: O Papagaio</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>761">761</a>; <a href="https://commons.wikimedia.org/wiki/Category:Escultura_Naif_-_Os_Patinhos_(sculpture)">Commons</a>: Os Patinhos</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>762">762</a>; <a href="https://commons.wikimedia.org/wiki/Category:Escultura_Naif_-_O_Pav%C3%A3o_(sculpture)">Commons</a>: O Pavão</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>763">763</a>; <a href="https://commons.wikimedia.org/wiki/Category:Escultura_Naif_-_O_Pinguim_(sculpture)">Commons</a>: O Pinguim</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>764">764</a>; <a href="https://commons.wikimedia.org/wiki/Category:Escultura_Naif_-_A_Pir%C3%A2mide_(sculpture)">Commons</a>: A Pirâmide</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>765">765</a>; <a href="https://commons.wikimedia.org/wiki/Category:Escultura_Naif_-_O_Polvo_(sculpture)">Commons</a>: O Polvo</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>766">766</a>; <a href="https://commons.wikimedia.org/wiki/Category:Escultura_Naif_-_O_Tamandua_(sculpture)">Commons</a>: O Tamanduá</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>768">768</a>; <a href="https://commons.wikimedia.org/wiki/Category:Escultura_Naif_-_O_Rinoceronte_(sculpture)">Commons</a>: O Rinoceronte</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>769">769</a>; <a href="https://commons.wikimedia.org/wiki/Category:Escultura_Naif_-_O_Saci_Perere_(sculpture)">Commons</a>: O Saci Pererê</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>770">770</a>; <a href="https://commons.wikimedia.org/wiki/Category:Escultura_Naif_-_A_Sereia_(sculpture)">Commons</a>: A Sereia</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>771">771</a>; <a href="https://commons.wikimedia.org/wiki/Category:Escultura_Naif_-_As_Tartarugas_(sculpture)">Commons</a>: As Tartarugas</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>772">772</a>; <a href="https://commons.wikimedia.org/wiki/Category:Escultura_Naif_-_A_Tartaruga_Gigante_(sculpture)">Commons</a>: A Tartaruga Gigante</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>773">773</a>: O Urso</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>774">774</a>; <a href="https://commons.wikimedia.org/wiki/Category:Escultura_Naif_-_A_Vaca_(sculpture)">Commons</a>: A Vaca</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>775">775</a>; <a href="https://commons.wikimedia.org/wiki/Category:Escultura_Naif_-_A_Visconde_de_Sabugosa_(sculpture)">Commons</a>: O Visconde de Sabugosa</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>776">776</a>; <a href="https://commons.wikimedia.org/wiki/Category:Escultura_Naif_-_A_Zebra_(sculpture)">Commons</a>: A Zebra</p></li>
	</ul>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2022a-full.jpg" data-llb-src="href">
			<img src="gallery-2022a.jpg">
		</a>
		<figcaption>
			<p>A Pirâmide</p>
			<p class="credits">
				Foto: Estela Neto,
				<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC-BY-SA-4.0</a>,
				via <a href="https://commons.wikimedia.org/wiki/File:Escultura_Naif_-_A_Pir%C3%A2mide_-_Rio_de_Janeiro_-_20220909103921.jpg">Wikimedia
				Commons</a> (9 de setembro de 2022).
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2022c-full.jpg" data-llb-src="href">
			<img src="gallery-2022c.jpg">
		</a>
		<figcaption>
			<p>O Duende com Acordeon</p>
			<p class="credits">
				Foto: Estela Neto,
				<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC-BY-SA-4.0</a>,
				via <a href="https://commons.wikimedia.org/wiki/File:Escultura_Naif_-_O_Duende_com_Acordeon_-_Rio_de_Janeiro_-_20220909103317.jpg">Wikimedia
				Commons</a> (9 de setembro de 2022).
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2022b-full.jpg" data-llb-src="href">
			<img src="gallery-2022b.jpg">
		</a>
		<figcaption>
			<p>O Rinoceronte</p>
			<p class="credits">
				Foto: Estela Neto,
				<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC-BY-SA-4.0</a>,
				via <a href="https://commons.wikimedia.org/wiki/File:Escultura_Naif_-_O_Rinoceronte_-_Rio_de_Janeiro_-_20220909102211.jpg">Wikimedia
				Commons</a> (9 de setembro de 2022).
			</p>
		</figcaption>
	</figure>
</section>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol>
	</ol> -->
</section>