---
layout: monument.ejs
name: Conjunto de Arte Näif da Praça dos Bichinhos
alt_names: [
]

categoria: escultura
tags: [
]

data_inaug: 1970
data_circa: true
altura: 
largura: 
peso: 
material: Argamassa e ferro

autores: [
	Paulo de Tarso
]

local: Praça Hans Klussmann
bairro: Tijuca
lat: -22.9358
lon: -43.2349

imrj: [
	723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737,
	738, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753,
	754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 768, 769,
	770, 771, 772, 773, 774, 775, 776
]
dont_show: [ imrj ]
wikidata: 
structurae: 
cona: 
hpip:

---

<figure>
	<a href="photo.jpg" data-llb-src="href">
		<img src="thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Estela Neto (9 de setembro de 2022),
			<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC-BY-SA-4.0</a>,
			via <a href="https://commons.wikimedia.org/wiki/File:Escultura_Naif_-_O_Hipop%C3%B3tamo_-_Rio_de_Janeiro_-_20220909103839.jpg">Wikimedia
			Commons</a>.
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		Conjunto de 58 esculturas localizadas na Praça Hans Klussmann,
		popularmente conhecida como Praça dos Bichinhos.<sup>1</sup>
	</p>
</section>
<section class="refs">
	<ol>
		<li>
			Jacqueline Costa (9 de outubro de 2020).
			<a href="https://oglobo.globo.com/rio/bairros/praca-na-tijuca-que-estava-abandonada-adotada-por-professora-de-ingles-24671952">Praça
			na Tijuca que estava abandonada é adotada por professora de inglês</a>.
			<i>O Globo</i>.
		</li>
	</ol>
</section>
<section>
	<p>
		O IMRJ cataloga 52 esculturas; o Wikidata possui categorias para
		49 esculturas:
	</p>
	<ul class="tight-list tabular-nums">
		<li><p>ID <a href="<%= IMRJ_URL %>723">723</a>; <a href="https://www.wikidata.org/wiki/Q67210543">Q67210543</a>: O Barco</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>724">724</a>; <a href="https://www.wikidata.org/wiki/Q67210537">Q67210537</a>: A Baleia e Filhote</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>725">725</a>; <a href="https://www.wikidata.org/wiki/Q67210547">Q67210547</a>: O Beija Flor</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>726">726</a>; <a href="https://www.wikidata.org/wiki/Q67210536">Q67210536</a>: O Bumba Meu Boi</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>727">727</a>; <a href="https://www.wikidata.org/wiki/Q67210546">Q67210546</a>: O Burrinho</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>728">728</a>; <a href="https://www.wikidata.org/wiki/Q67210545">Q67210545</a>: O Caju</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>729">729</a>; <a href="https://www.wikidata.org/wiki/Q67210551">Q67210551</a>: O Canguru</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>730">730</a>; <a href="https://www.wikidata.org/wiki/Q67210550">Q67210550</a>: O Camelo</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>731">731</a>; <a href="https://www.wikidata.org/wiki/Q67210549">Q67210549</a>: O Cão com Bola</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>732">732</a>; <a href="https://www.wikidata.org/wiki/Q67210535">Q67210535</a>: O Cão Chinês</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>733">733</a>; <a href="https://www.wikidata.org/wiki/Q67210539">Q67210539</a>: O Cão Manto Negro</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>734">734</a>; <a href="https://www.wikidata.org/wiki/Q67210548">Q67210548</a>: O Cão Pintado</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>735">735</a>; <a href="https://www.wikidata.org/wiki/Q67210544">Q67210544</a>: O Cavalo Branco</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>736">736</a>; <a href="https://www.wikidata.org/wiki/Q67210557">Q67210557</a>: A Cobra e o Porco</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>737">737</a>; <a href="https://www.wikidata.org/wiki/Q67210556">Q67210556</a>: A Cobra e o Sapo</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>738">738</a>; <a href="https://www.wikidata.org/wiki/Q67210650">Q67210650</a>: O Macaco</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>740">740</a>; <a href="https://www.wikidata.org/wiki/Q67210555">Q67210555</a>: O Duende</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>741">741</a>; <a href="https://www.wikidata.org/wiki/Q67210554">Q67210554</a>: O Duende com Acordeon</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>742">742</a>; <a href="https://www.wikidata.org/wiki/Q67210561">Q67210561</a>: O Elefante</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>743">743</a>; <a href="https://www.wikidata.org/wiki/Q67210553">Q67210553</a>: O Elefante Filhote</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>744">744</a>; <a href="https://www.wikidata.org/wiki/Q67210540">Q67210540</a>: A Emília</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>745">745</a>; <a href="https://www.wikidata.org/wiki/Q67210649">Q67210649</a>: O Esquilo</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>746">746</a>; <a href="https://www.wikidata.org/wiki/Q67210563">Q67210563</a>: A Foca</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>747">747</a>; <a href="https://www.wikidata.org/wiki/Q67210534">Q67210534</a>: A Galinha</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>748">748</a>; <a href="https://www.wikidata.org/wiki/Q67210562">Q67210562</a>: O Galo</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>749">749</a>; <a href="https://www.wikidata.org/wiki/Q67210560">Q67210560</a>: O Ganso</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>750">750</a>; <a href="https://www.wikidata.org/wiki/Q67210552">Q67210552</a>: O Gato</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>751">751</a>; <a href="https://www.wikidata.org/wiki/Q67210567">Q67210567</a>: A Girafa</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>752">752</a>; <a href="https://www.wikidata.org/wiki/Q67210566">Q67210566</a>: O Hipopótamo</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>753">753</a>: O Índio</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>754">754</a>; <a href="https://www.wikidata.org/wiki/Q67210565">Q67210565</a>: O Jacaré I</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>755">755</a>; <a href="https://www.wikidata.org/wiki/Q67210568">Q67210568</a>: O Jacaré II</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>756">756</a>; <a href="https://www.wikidata.org/wiki/Q67210572">Q67210572</a>: O Jogador Brasileiro</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>757">757</a>; <a href="https://www.wikidata.org/wiki/Q67210571">Q67210571</a>: O Leão</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>758">758</a>; <a href="https://www.wikidata.org/wiki/Q67210559">Q67210559</a>: A Lontra</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>759">759</a>; <a href="https://www.wikidata.org/wiki/Q67210570">Q67210570</a>: Mãe e Filhote Dinossauro</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>760">760</a>: O Papagaio</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>761">761</a>; <a href="https://www.wikidata.org/wiki/Q67210575">Q67210575</a>: Os Patinhos</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>762">762</a>; <a href="https://www.wikidata.org/wiki/Q67210576">Q67210576</a>: O Pavão</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>763">763</a>; <a href="https://www.wikidata.org/wiki/Q67210532">Q67210532</a>: O Pinguim</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>764">764</a>; <a href="https://www.wikidata.org/wiki/Q67210564">Q67210564</a>: A Pirâmide</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>765">765</a>; <a href="https://www.wikidata.org/wiki/Q67210574">Q67210574</a>: O Polvo</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>766">766</a>; <a href="https://www.wikidata.org/wiki/Q67210573">Q67210573</a>: O Tamanduá</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>768">768</a>; <a href="https://www.wikidata.org/wiki/Q67210558">Q67210558</a>: O Rinoceronte</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>769">769</a>; <a href="https://www.wikidata.org/wiki/Q67210709">Q67210709</a>: O Saci Pererê</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>770">770</a>; <a href="https://www.wikidata.org/wiki/Q67210710">Q67210710</a>: A Sereia</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>771">771</a>; <a href="https://www.wikidata.org/wiki/Q67210712">Q67210712</a>: As Tartarugas</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>772">772</a>; <a href="https://www.wikidata.org/wiki/Q67210542">Q67210542</a>: A Tartaruga Gigante</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>773">773</a>: O Urso</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>774">774</a>; <a href="https://www.wikidata.org/wiki/Q67210714">Q67210714</a>: A Vaca</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>775">775</a>; <a href="https://www.wikidata.org/wiki/Q67210715">Q67210715</a>: O Visconde de Sabugosa</p></li>
		<li><p>ID <a href="<%= IMRJ_URL %>776">776</a>; <a href="https://www.wikidata.org/wiki/Q67210716">Q67210716</a>: A Zebra</p></li>
	</ul>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="gallery-2022a-full.jpg" data-llb-src="href">
			<img src="gallery-2022a.jpg">
		</a>
		<figcaption>
			<p>A Pirâmide</p>
			<p class="credits">
				Foto: Estela Neto (9 de setembro de 2022),
				<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC-BY-SA-4.0</a>,
				via <a href="https://commons.wikimedia.org/wiki/File:Escultura_Naif_-_A_Pir%C3%A2mide_-_Rio_de_Janeiro_-_20220909103921.jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2022c-full.jpg" data-llb-src="href">
			<img src="gallery-2022c.jpg">
		</a>
		<figcaption>
			<p>O Duende com Acordeon</p>
			<p class="credits">
				Foto: Estela Neto (9 de setembro de 2022),
				<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC-BY-SA-4.0</a>,
				via <a href="https://commons.wikimedia.org/wiki/File:Escultura_Naif_-_O_Duende_com_Acordeon_-_Rio_de_Janeiro_-_20220909103317.jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2022b-full.jpg" data-llb-src="href">
			<img src="gallery-2022b.jpg">
		</a>
		<figcaption>
			<p>O Rinoceronte</p>
			<p class="credits">
				Foto: Estela Neto (9 de setembro de 2022),
				<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC-BY-SA-4.0</a>,
				via <a href="https://commons.wikimedia.org/wiki/File:Escultura_Naif_-_O_Rinoceronte_-_Rio_de_Janeiro_-_20220909102211.jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="gallery-2022d-full.jpg" data-llb-src="href">
			<img src="gallery-2022d.jpg">
		</a>
		<figcaption>
			<p>O Barco</p>
			<p class="credits">
				Foto: Estela Neto (9 de setembro de 2022),
				<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC-BY-SA-4.0</a>,
				via <a href="https://commons.wikimedia.org/wiki/File:Escultura_Naif_-_O_Rinoceronte_-_Rio_de_Janeiro_-_20220909102211.jpg">Wikimedia
				Commons</a>.
			</p>
		</figcaption>
	</figure>
</section>
<section class="more">
<!-- 	<h2>Leia mais</h2>
	<ol>
	</ol> -->
</section>