---
layout: default.ejs
eleventyComputed: {
	title: "<%= name %> — Monumentos Rio"
}
---

<%_ const monuments = collections.all.filter(file =>
	file.filePathStem.startsWith("/id/") && file.data.categoria === tag_name
);
monuments.sort((a, b) => a.data.name.localeCompare(b.data.name));
const monument_count = monuments.length;
%>

<main>
	<h1><%= name %></h1>
	<section class="indent-children maxwidth">
		<p>
			<%= content %>
		</p>
		<p>
			Monumentos nesta categoria são marcados com a tag <%- makeTag(tag_name, false) %>.
			O inventário possui os seguintes <strong><%= monument_count %></strong>
			monumentos nesta categoria:
		</p>
	</section>
	<div class="card-list">
		<%_ for(let i = 0; i < monument_count; i++) { %>
			<%- makeCard(monuments[i], false) %>
		<%_ } %>
	</div>
</main>