---
layout: monumento.ejs
name: Chafariz do Mestre Valentim
categoria: chafariz

data_inaug: 1789
altura: 
largura: 
peso: 
material: Gnaisse e lioz

autores: [
	Valentim da Fonseca e Silva
]

local: Praça XV de Novembro, Centro
lat: -22.9027
lon: -43.1739

imrj: 211
hpip: 842
wikidata: Q56641197
iphan: 154-T-1938
inepac: 
inepac_url: 
---

<figure>
	<a href="/assets/<%= page.fileSlug %>/photo.jpg" data-llb-src="href">
		<img src="/assets/<%= page.fileSlug %>/thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Carlos Luis M. C. da Cruz, <a href="https://creativecommons.org/licenses/by-sa/3.0/deed.en">CC-BY-SA-3.0</a>,
			via <a href="https://commons.wikimedia.org/wiki/File:DPedroI-Rio.jpg">Wikimedia Commons</a>
			(18 de agosto de 2012)
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		
	</p>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="/assets/<%= page.fileSlug %>/gallery-1789-full.jpg" data-llb-src="href">
			<img src="/assets/<%= page.fileSlug %>/gallery-1789.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Pintura: "Revista militar no Largo do Paço", por Leandro Joaquim,
				via <a href="https://artsandculture.google.com/asset/revista-militar-no-largo-do-pa%C3%A7o/egHPz2nUxxz4Rg">Google Arts & Culture</a>
				(circa 1789).
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="/assets/<%= page.fileSlug %>/gallery-c1865-full.jpg" data-llb-src="href">
			<img src="/assets/<%= page.fileSlug %>/gallery-c1865.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Georges Leuzinger, via Instituto Moreira Salles/<a href="https://brasilianafotografica.bn.gov.br/brasiliana/handle/20.500.12156.1/2294">Brasiliana Fotográfica</a>
				(circa 1865).
			</p>
		</figcaption>
	</figure>
</section>
<section class="more">
	<h2>Leia mais</h2>
	<ol>
		<li>
			Vera Dias (17 de maio de 2010). <a href="https://ashistoriasdosmonumentosdorio.blogspot.com/2010/05/chafariz-da-praca-xv-parte-da-historia.html">Chafariz
			da Praça XV - Parte da história da Cidade</a>.
			<i>As histórias dos monumentos do Rio de Janeiro</i>.
		</li>
	</ol>
</section>
