---
layout: monumento.ejs
name: Estátua equestre de D. Pedro I
categoria: estátua

data_inaug: 1862-03-30
altura: 
largura: 
material: Bronze

autores: [
	Louis Rochet,
	João Maximiniano Mafra
]

local: Praça Tiradentes
bairro: Centro
lat: -22.906944
lon: -43.182778

imrj: 76
wikidata: Q18476242
iphan: 1173-T-1985
inepac: E-03/016.509/78
inepac_url: http://www.inepac.rj.gov.br/index.php/bens_tombados/detalhar/253
---

<figure>
	<a href="/assets/<%= page.fileSlug %>/photo.jpg" data-llb-src="href">
		<img src="/assets/<%= page.fileSlug %>/thumb.jpg">
	</a>
	<figcaption>
		<p class="credits">
			Foto: Cyro Silva, <a href="https://creativecommons.org/licenses/by/2.0/deed.en">CC-BY-2.0</a>,
			via <a href="https://commons.wikimedia.org/wiki/File:DPedroI-Rio.jpg">Wikimedia Commons</a>
			(11 de março de 2010)
		</p>
	</figcaption>
</figure>
<section class="description">
	<p>
		A estátua equestre de dom Pedro I (1798–1834), primeira escultura pública
		do Brasil, foi inaugurada na praça da Constituição, atual praça Tiradentes,
		no centro do Rio de Janeiro, em 30 de março de 1862.
	</p>
	<p>
		A ideia do projeto de construção de uma estátua em homenagem a dom Pedro I
		havia surgido em 1825, 38 anos antes da inauguração do monumento. Na
		estátua, esculpida pelo francês Louis Rochet (1813–1878), dom Pedro I está
		proclamando a Independência do Brasil com o
		<a href="https://www2.camara.leg.br/legin/fed/manife_sn/anterioresa1824/manifestosemnumero-41437-6-agosto-1822-576171-publicacaooriginal-99440-pe.html">Manifesto às Nações</a>
		na mão.
	</p>
	<cite>—Texto por Andrea Wanderley (2017), via Brasiliana Fotográfica.</cite>
</section>
<section class="gallery">
	<h2>Galeria</h2>
	<figure>
		<a href="/assets/<%= page.fileSlug %>/gallery-c1890-full.jpg" data-llb-src="href">
			<img src="/assets/<%= page.fileSlug %>/gallery-c1890.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto: Marc Ferrez, domínio público / acervo do Instituto Moreira Salles,
				via <a href="https://commons.wikimedia.org/wiki/File:Monumento_em_homenagem_a_D._Pedro_I,_est%C3%A1tua_equestre_-_2.jpg">Wikimedia Commons</a>
				(circa 1890)
			</p>
		</figcaption>
	</figure>
	<figure>
		<a href="/assets/<%= page.fileSlug %>/gallery-2022-full.jpg" data-llb-src="href">
			<img src="/assets/<%= page.fileSlug %>/gallery-2022.jpg">
		</a>
		<figcaption>
			<p class="credits">
				Foto:
					<a href="https://commons.wikimedia.org/wiki/User:Estela_Neto">Estela Neto</a>,
					<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC-BY-SA-4.0</a>,
					via <a href="https://commons.wikimedia.org/wiki/File:Est%C3%A1tua_equestre_de_Dom_Pedro_I_-_Rio_de_Janeiro_-_20220924094818.jpg">Wikimedia Commons</a>
					(24 de setembro de 2022)
			</p>
		</figcaption>
	</figure>
</section>
<section class="more">
	<h2>Leia mais</h2>
	<ol>
		<li>
			Andrea C. T. Wanderley (30 de março de 2017).
			<a href="https://brasilianafotografica.bn.gov.br/?p=7629">Inauguração da
			estátua equestre de dom Pedro I, na atual Praça Tiradentes</a>.
			<i>Brasiliana Fotográfica</i>.
		</li>
		<li>
			S.n. (<abbr title="circa">c.</abbr>2022).
			<a href="http://cultura.rj.gov.br/estatua-equestre-de-d-pedro-i/">http://cultura.rj.gov.br/estatua-equestre-de-d-pedro-i/</a>.
			<i>Secretaria de Estado de Cultura e Economia Criativa do Rio de Janeiro</i>.
		</li>
	</ol>
	<!-- <p>
		https://www.ipatrimonio.org/rio-de-janeiro-monumento-a-dom-pedro-i#!/map=38329
	</p> -->
</section>
